.contact-form {
  justify-content: center;
  min-height: 90vh;
  width: 100%;
}

.button-block {
  width: 100%;
}

.contact-background {
  justify-content: center;
  min-height: 30vh;
  padding: 50px;
}
.contact-form .MuiGrid-root.MuiGrid-item {
  width: 450px !important;
}
.contact-form .MuiGrid-root.MuiGrid-item h1 {
  font-size: 22px;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 20px;
}
.contact-form button{
  padding: 12px 20px;
  margin-top: 20px;
}